@keyframes nwb-keyframes-fadepulse {
  0% {
    background-color: rgba(128, 128, 128, 0.4);
  }
  100% {
    background-color: rgba(128, 128, 128, 0.1);
  }
}

.nwb-animation-fadepulse {
  background-color: rgba(128, 128, 128, 0.4);
  animation: nwb-keyframes-fadepulse 1.2s linear infinite alternate;
}
